<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Worker Sign Up</h1>
<div>
    <form action="/members/save" method="post" enctype='application/json'>
       <div> Fullname <input type="text" name="fullName"></div>
        <div> User Name <input type="text" name="username"></div>

        <div> Phone Number <input type="number" name="phoneNumber"></div>
        <div> Email <input type="email" name="email"></div>
        <div> Adress <input type="text" name="address"></div>
        <div> Password <input type="password" name="password"></div>
        <div>  <input type="submit" name="submit"></div>
    </form>
</div>

</body>
</html>