<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h1>Create Job</h1>
    <form action="/jobs/findJob" method="post">
        <div> Job Name <input type="text" name="jobName"></div>
        <div> Job Address <input type="text" name="jobAddress"></div>

        <div> Begin Time <input type="text" name="jobHourBegin"></div>
        <div> End Time <input type="text" name="jobHourEnd"></div>
        <div>  <input type="submit" name="submit"></div>
    </form>
</div>

</body>
</html>